<mat-toolbar color="primary">
    <span>My App</span>
    <span class="flex-fill"></span>
    <button mat-icon-button>
        <mat-icon [matBadge]="demoEmail" matBadgeColor="warn">email</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-icon-button>
        <mat-icon [matBadge]="demoNoti" matBadgeColor="warn">notifications</mat-icon>
    </button>
</mat-toolbar>